/* 全体  */

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


html {
    font-size: 62.5%;
    font-family: 'Noto Sans JP', sans-serif;
    color: #141414;
}

body {
    margin: 0;
    padding: 0;
}

main {
    color: #141414;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    /* height: 100vh; */
}

a {
    text-decoration: none;
    color: #141414;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

input,
textarea {
    border: 1px solid #362918;
    border-radius: 5px;
}

input::selection,
textarea::selection {
    background: #dcdcdc;
    color: #141414;
}

input:focus,
textarea:focus {
    outline-width: 1px;
    /* outline-color: #00A692; */
    outline-color: #362918;

}

figure {
    padding: 0;
    margin: 0;
}

img {
    border-radius: 5px;
}


p {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}


.ad-ul-head {
    list-style: none;
}

/* header  */

header {
    padding: 30px;
    background: #FFF;
    border-bottom: 1px solid #949494;
}

.ad-ul-head {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0;
    margin: 0 auto;
}

.ad-ul-head li {
    font-size: 1.6rem;
}

.ad-ul-head a {
    /* color: #F8F8F8; */
    color: #362918;
}

/*

管理者ログイン画面

*/

.ad-login-form {
	display: block;
/*	width: 20vw	;*/
/*	width: 10vw;*/
	margin: 0 auto;
}

.ad-login-form input{
	width: 15vw;
/*	text-align: center;*/
	margin: 0 auto;
}

.admin-login {
    text-align: center;
    margin: 10% 0;
    font-size: 2.4rem;
}

.ad-login {
    margin: auto;
/*    width: 20%;*/
    text-align: center;
}

.ad-login-id,
.ad-login-password {
    text-align: center;
    font-size: 1.8rem;
}

.ad-id-txt,
.ad-password-txt {
    display: block;
    padding: 5px 0;
    font-size: 1.6rem;
    width: 25%;
    margin: auto;
	text-align: center;
}

.ad-login-button {
    display: block;
    margin: 10% auto;
    padding: 5px 20px;
}

.ad-msg {
	text-align: center;
}


.logoutMsg,  .list{
	font-size: 1.5rem;
	margin: 10px;
}

/* 

ここまでがログイン画面 

*/

/*

管理者一覧画面

*/


/* 通常（PC）ではタイル表示 */

.flex .slide-wrap {
	display: flex;
/*	width: 10vw;*/
	height: 25vh;
	border: none;
}

.flex .slide-wrap .imgDetail {
	width: 30vw;
	height: 20vh;
	border: none;
}


.wrap {
    margin: 2em auto;
    padding: 0;
    width: 90%;
}

.wrap label {
    display: block;
    padding: 8px;
    color: #fff;
    font-weight: bold;
    /* background: #999; */
    background: #7c7c7c;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
}

.wrap input[type="checkbox"] {
    display: none;
}

.wrap .contents {
    display: block;
    margin: 10px 0;
    background: #e4e4e4;
    border-radius: 20px;
}

.details__summary {
    text-align: center;
    background: #c4c4c4;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.2rem;
}


/* .details {
    color: #287E39;
    line-height: 2;
    border: 1px solid #B9F9B2;
    width: 80%;
    margin: 0 auto 20px;
    &__summary {
      position: relative;
      display: block;
      background: #F3FFF3;
      cursor: pointer;
      margin: 0;
      padding: 10px 40px 10px 16px;
      &::-webkit-details-marker {
        display: none;
      }
      &::before {
        display: block;
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: calc(50% - 6px);
        right: 16px;
        width: 6px;
        height: 6px;
        border: 6px solid transparent;
        border-left: 6px solid #287E39;
        transition: all 0.4s ease-out;
        transform-origin: 3px 6px;
        transform: rotate(90deg);
        .details[open] & {
          transform: rotate(-90deg);
        }
      }
    }
    &__content {
      overflow: hidden;
      margin: 0;
      padding-left: 16px;
      padding-right: 16px;
      > * {
        margin: 0;
        padding-top: 16px;
        &:last-child {
          padding-bottom: 16px;
        }
      }
    }
  } */

/*  */

.product {
    display: flex;
    justify-content: space-around;
}

.product-star {
    display: flex;
    justify-content: space-around;
}

.product-relation {
    color: #00A692;
}

.product-img {
    display: block;
    margin: 0 auto;
    width: 73vw;
    margin-top: 10px;
}

.detail-product-name {
    text-align: center;
}

.detaile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.product-AR {
    display: block;
    margin: 10% auto;
}

.product-review {
    display: flex;
    justify-content: space-around;
}



.product-button {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}


.product-list {
    display: flex;
}

.slide-box figure .imgDetail {
	width: 20vw;
	height: 30vh;
	border: none;
}

 
/* 通常（PC）ではタイル表示 */
.slide-wrap {
/*  background-color: #ccc;*/
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  border: none;
}
.slide-box {
  height: auto;
/*  margin: .5%;*/
  width: 100%;
  border: none;
}
.slide-box a {
/*  background-color: #fff;*/
  color: #222;
  display: block;
  text-decoration: none;
}
.slide-box img {
  display: block;
  height: auto;
  width: 100%;
}
.slide-box p {
  font-weight: bold;
  padding: 10px;
  margin:.5rem auto;
}

/* スマホサイズでスライダー表示 */
  .slide-wrap {
    overflow-x: scroll;
   
  }
  .slide-box {
    flex: 0 0 70%;
/*    margin: auto 1% auto auto;*/
    border: none;
  }




.ad-tab-switch {
    font-size: 1.3rem;
    margin: 4% 0;
}

.ad-tab-switch a {
    text-decoration: none;
    color: #141414;
    background: #ddd;
    padding: 7px 12px;

}

.ad-order-list {
    padding: 10px;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
}

.ad-order-list .div {
    border-left: 1px solid #362918;
    padding: 1%;
}

.ad-product-man {
    position: relative;
    width: 30%;
}

.ad-product-man img {
    display: block;
    margin: 5% auto;
    height: 50%;
    max-width: 90%;
}

.ad-product-name {
    font-size: 1.5rem;
}

.ad-product-del {
    width: 30%;
}

.ad-product-del p {
    margin: 2% 0;
}


.ad-del-man {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.ad-del-man img {
    display: block;
    width: 40%;
    margin: 0 auto;
}

.ad-del-man p {
    margin: auto;
    font-size: 1.2rem;
}

.listForm {
	margin: auto;
}

.listFormButton  {
	display: block;
	margin: 15px auto;
	border-radius: 5px;
	font-size: 1.5rem;
	border : 1px solid #141414;
	background: rgb(245, 245, 245);
}

.ad-del-man .productStock {
	font-size: 1.5rem;
}

.comparisonSelect {
	padding: 3px;	
}

.listForm .deliveryStatus {
	font-size: 1.5rem;
	text-align: center;
}

.errorMesage {
	color: red;
}

/*

ここまでが管理者一覧画面

*/

/*

商品追加画面

*/

.textColor {
	color: orangered;
}

.ad-search {
    display: flex;
    justify-content: space-between;
    border: none;
}

.ad-search .new-search-icon {
    width: 10%;
}

.ad-search .new-search-txtbox {
    width: 80%;
}

.new-search-form {
    position: absolute;
    right: 1%;
/*    top: 15%;*/
   margin-top: 10px;
    max-width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
/*    height: 80vh;*/
}

.tab-switch {
	display: block;
    margin-top: 20px;
    margin-left: 36vw;
}

.tab-switch select {
	width: 70px;
	height: 30px;
}
.adNewProduct {
	position: relative;
}

.search-form {
/*	position: absolute;*/
	width: 20vw;
/*	margin: 100px auto;*/
	margin-top: 30px;
	margin-left: auto;

	
}



.new-search-form input, .new-search-form text, .new-search-form select {
	text-align: center;
} 

.new-search-icon {
    border: none;
}

.ad-new-img {
    margin-top: 10%;
    display: flex;
}

.ad-new-img figure {
    width: fit-content;
}

.ad-new-img img {
    display: block;
    background: #d8d8d8;
    height: 7vh;
    border: 3px solid #FFF;
}

.ad-product-name,
.ad-new-vaca,
.ad-product-content {
    margin-top: 5%;
}

.ad-new-vaca {
	margin: 0 5px;
}

.ad-new-product-name,
.ad-new-value,
.ad-new-num {
    box-sizing: border-box;
    padding: 10px 0;
}


.ad-value {
    display: flex;
    justify-content: space-between;
}


.ad-value p {
    margin-top: 10px;
}

.ad-new-contents {
    width: 100%;
    height: 20vh;
    resize: none;
}

.productCategory {
	margin-top: 20px;
	height: 30px;
}

.edit-search-form {
	display: block;
	margin-top: 50px;
	padding-bottom: 50px;
}



/* 商品レビュー */

.ad-product-review {
    position: absolute;
    /* display: block; */
    top: 20px;
    width: 390px;
    height: 844px;
    /* border: solid 5px #00A692; */
    border: solid 5px #362918;
/*    border-bottom: solid 10px #FFF;*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;

/*    margin-bottom: 100px;*/
}

.ad-product-review .product-img {
    width: 90%;
    display: block;
}



.user-main {
/*    max-width: 75%;*/
/*    margin: 0 auto;*/
/*    color: #4b4b4b;*/
/*    flex: 1;*/
    max-width: 85%;
    margin: 0 auto;
    flex: 1;
}

.user-main p {
    font-size: 1.6rem;
}


.user-header {
/*    font-family: 'Bad Script', cursive;*/
/*    font-weight: bold;*/
/*    border-bottom: 1px solid #949494;*/
    font-family: 'Bad Script', cursive;
    border-bottom: 1px solid #949494;
    min-height: 60px;
    max-height: 200px;
    text-align: center;
    padding: 5px 0 60px 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
}



.user-header,
.user-footer {
    background: #FFF;
}

.user-header p,
.user-footer p,
.category {
    color: #362918;
}



.detail-product-name {
    text-align: center;
}

.detaile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.user-footer a {
    display: flex;
    align-items: center;
    margin: 1.5% 0;
    border-bottom: solid 1px #362918;
    width: 70%;
}

.user-header img,
.user-header .search-icon,
.user-footer img {
    filter: invert(35%);
}



/* ポップアップを開くの擬似ボタン */
.popup-open a {
    display: block;
    text-align: center;
    border: 1px solid #000;
    width: 250px;
    padding: 10px;
    margin: 0 auto;
}

/* ポップアップが開いた時のオーバレイ */
#popup-overlay-chair,
#popup-overlay-goods,
#popup-overlay-storage,
#popup-overlay-light,
#popup-overlay-table,
#popup-overlay-category {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
/*    height: 100vh;*/
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); */
}



/* ポップアップ */
.popup-window {
    width: 80%;
    height: 200px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    /* opacity: 0; */
    display: none;
}

.popup-message {
    animation: popup 3s forwards;
}

/*@keyframes popup {*/
/*    0% {*/
/*        transform: translateY(15%);*/
/*        opacity: 0;*/
/*    }*/

/*    10%,*/
/*    90% {*/
/*        transform: none;*/
/*        opacity: 1;*/
/*        background-color: rgba(0, 0, 0, 0.3);*/
/*    }*/

/*    100% {*/
/*        transform: translateY(15%);*/
/*        opacity: 0;*/
/*        pointer-events: none;*/

/*    }*/
/*}*/



/* ポップアップのヘッダー */
.popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* background-color: rgba(0, 0, 0, .1); */
    background: #362918;
    border-radius: 10px 10px 0 0;
}

/* ポップアップの見出し */
.popup-header h2 {
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

/* ポップアップの内容 */
.popup-body {
    padding: 0 10px;
    /* display: flex;
    justify-content: space-around; */
}

.popup-list {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    list-style: none;
    z-index: 99;
}

.popup-body .popup-list img {
    display: block;
    width: 70%;
    margin: auto;
}

.popup-body ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    /* background: #000; */
}

.popup-body .list-ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.user-footer img {
    padding-right: 10px;
}

.user-header .head {
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 10px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 3px 20px;
}

.user-main a {
	color: #000;
}


.user-header .shop-logo p {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0 auto;
}

.user-header #header-animation {
    animation: scroll-anim linear;
    animation-timeline: scroll();
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #949494;
    /* display: flex; */
    padding: 20px 5px;
    top: -110%;
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: top 0.3s ease-in-out;
    display: flex;
    justify-content: space-around;
    max-width: 100vw;
}

.header-anim .cart-icon-anim {
    margin-right: 7px;
    /* margin: auto; */
}

.user-header .search-form {
    position: relative;
    padding-bottom: 15px;
    width: 200px;
    margin: auto;
    display: flex;
    align-items: center;
}

.header-anim .search-form-anim {
    /* position: relative; */
    /* width: 200px; */
    /* margin: auto; */
    /* margin: 0 auto; */
    /* margin-left: 70px; */
    /* margin: 0 auto; */
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 30%;
    font-size: 1.6rem;
    position: relative;
}

.header-anim .search-box-anim {
    /* margin-left: 30px; */
    /* margin-right: 0; */
    margin: 0;
    padding: 10px;
}

.header-anim .search-icon {
    position: absolute;
    /* margin-left: 30%; */
    left: 0;
    min-width: 20px;
    /* width: 10%; */
}

.header-anim .favorite-icon-anim {
    width: 100%;
    margin-left: 50%;
}


.header-anim .hum {
    display: block;
    width: 7%;
}

.header-anim .nav {
    display: block;
}

.category-list-line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-left: -15px;
    /* height: 80%; */
}

.category-list-line .category-item img {
    height: 100px;
    width: 100px;
    border-radius: 0;
    margin: 0 5px
}

.category-list p {
	color: #000;
}

.category-list-line .category-item p {
    color: #000;
}

.nav ul {
    list-style: none;
    padding: 0;
    border-top: apx solid #362918;
}

.nav li {
    border-bottom: 1px solid #362918;
    margin: 20px;
    width: 40%;
    margin: 0 auto;
}

.nav li:not(:last-child) {
    margin-bottom: 30px;
}

.nav a {
    color: #141414;
    font-size: 1.3rem;
}


.nav {
    position: fixed;
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    color: #ffffff;
    /* 右からスライド */
    transition: right 0.5s;
    z-index: 100;
}


.nav .Inair {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 4rem;
}


.nav .nav-color {
    list-style: none;
    background: #c4c4c4;
    padding: 20px 0 100% 0;
}

.nav .nav-top {
    margin-top: 15px;
}

.nav .nav-footer {
    /* margin-top: 60px; */
}

.nav .inair-size {
    font-size: 1.6rem;
}

/**/

/* ナビゲーションボタン（開く） */
#navbtn {
    /* position: fixed; */
    top: 23px;
    left: 15px;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 100;
}

#navbtn::before,
#navbtn::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #362918;
    transform: translateY(10px);
    transition: .5s ease-in-out;
}

@keyframes nav_before {
    0% {
        transform: rotate(-45deg);
        box-shadow: none;
    }

    50% {
        transform: rotate(0);
        box-shadow: none;

    }

    100% {
        transform: translateY(-10px);
    }
}


#navbtn::before {
    box-shadow: 0 10px #362918;
    animation-name: nav_before;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes nav_after {
    0% {
        transform: rotate(45deg);
        box-shadow: none;

    }

    50% {
        transform: rotate(0);
        box-shadow: none;

    }

    100% {
        transform: translateY(10px);
    }
}

#navbtn::after {
    animation-name: nav_after;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

/* ナビゲーションボタン（閉じる） */
.open #navbtn {
    z-index: 101;
}

@keyframes nav_motion_before {
    0% {
        transform: translateY(-10px);

    }

    50% {
        transform: rotate(0);
        box-shadow: none;

    }

    100% {
        transform: rotate(45deg);
        box-shadow: none;

    }
}

.open #navbtn::before {
    animation-name: nav_motion_before;
    animation-duration: .5s;
    animation-fill-mode: forwards;

}

@keyframes nav_motion_after {
    0% {
        transform: translateY(10px);


    }

    50% {
        transform: rotate(0);
        box-shadow: none;

    }

    100% {
        transform: rotate(-45deg);
        box-shadow: none;
    }
}

.open #navbtn::after {
    animation-name: nav_motion_after;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

/* ナビゲーションメニュー 開いた時*/
.open .nav {
    right: 0;
}

/**/

.wrap {
    margin: 2em auto;
    padding: 0;
    width: 90%;
}


/*  パンくずリスト  */
.breadcrumb {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.breadcrumb li:not(:last-of-type)::after {
    content: "›";
    margin: 0 .6em;
    /* 記号の左右の余白 */
    color: #777;
    /* 記号の色 */
}

.user-header .shop-logo p {
    font-size: 2.7rem;
    font-weight: bold;
    margin: 0 auto;
}

/* 検索アイコン */
.user-header .search-icon {
    position: absolute;
    display: block;
    left: -35px;
    border: none;
    width: 15%;
}

.user-header .search-form {
	position: relative;
    max-width: 30%;
    min-width: 200px;
    margin: auto;
    display: flex;
    align-items: center;
}

.user-header .search-box {
/*    margin: auto;*/
    margin: auto;
    padding: 10px;
}

.user-footer {
    margin-bottom: 0;
    border: 1px solid #362918;
}

/* 店舗以外のボタン */
.footer-aligned {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}



.user-footer a {
    display: flex;
    align-items: center;
    margin: 1.5% 0;
    margin-bottom: 15px;
}

.footer-store {
    margin-left: 13%;
}

.footer-aligned {
	padding-bottom: 20px;
    font-size: 1.2rem;
}

.footer-aligned a {
    margin-left: 10%;
}

.category {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Bad Script', cursive;
    color: #362918;
}

.category {
    margin-top: 50%;
}

.category-item img {
    height: 15vh;
}

.category-list {
/*    margin-bottom: 50%;*/
}


.category-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.category-item:hover {
    opacity: .7;
}

.category-item,
.ranking-item,
.product-item {
    margin-bottom: 5%;
}

.category-item img {
    display: block;
    margin: 0 auto;
    width: 90%;

}

.category-list p {
    margin: 0;
    text-align: center;
}


/* 検索フォーム */
.user-header .search-form {
    position: relative;
    padding-bottom: 15px;
    width: 200px;
    margin: auto;
    display: flex;
    align-items: center;
}



.product-AR,
.return-btn,
.cart-btn {
    background: #7c7c7c;
    color: #FFF;
    width: fit-content;
    padding: 10px 15px;
}



.product {
    display: flex;
    justify-content: space-around;
}

.product-star {
    display: flex;
    justify-content: space-around;
}

.product-relation {
    /* color: #00A692; */
    color: #362918;
}

.product-img {
    display: block;
    margin: 10px auto 0 auto;
    width: 73vw;
}

.product-name {
    text-align: center;
}

.product {
    margin: 10% 0;
}

.detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin: 5% 0;
}

.detail p {
    margin: 10px 0;
}

.product-AR {
    display: block;
    margin: 10% auto;
}

.product-review {
    display: flex;
    justify-content: space-around;
}

.product-review-star {
    margin-top: 10px;
}

.product-button {
    display: flex;
    justify-content: space-around;
    margin: 10% 0;
}

.product-list {
    display: flex;
}




/* 商品レビュー ↑ */

/*

ここまでが商品追加画面

*/

/*

配送状況画面

*/

.ad {
    display: flex;
    height: 21vh;
    justify-content: space-around;
}

.ad .slide-wrap {
/*	width: 30%;*/
}

.ad .flex {
	width: 15vw;
/*	height: 10vh;*/
/*	margin: -80px;*/
}

.ad-product-status {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20vh; 	
    padding: 1%;
    border-left: 1px solid #362918;
}


.ad-product-status img {
    height: 15vh;
    display: block;
    margin: 1%;
    width: 15vw;
}

.ad .flex .slide-wrap .imgDetail {
	width: 15vw;
}

.ad-status {
    margin-top: 3%;
    border-left: 1px solid #362918;
    padding: 1%;
    width: 35%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.progressbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.progressbar li {
    position: relative;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    width: 33.333%;
    color: #999999;
    font-weight: bold;
}

.progressbar li:before {
    display: block;
    width: 18px;
    height: 18px;
    margin: 7px auto 20px auto;
    content: '';
    text-align: center;
    border-radius: 50%;
    background-color: #F5F5F5;
}

.progressbar li:after {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: -50%;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #F5F5F5;
}

.progressbar li:first-child:after {
    content: none;
}

/* .progressbar li.active,
.progressbar li.complete {
    color: #0070BD;
}

.progressbar li.active:before,
.progressbar li.complete:before {
    background-color: #0070BD;
}

.progressbar li.active:after,
.progressbar li.complete:after {
    background-color: #0070BD;
} */

